<div class="container">
    <div class="row text-center mt-3">
        <h1 class>Acerca De</h1>
        <h4>Servicios de desarrollo de Software para su empresa. Si se encuentra interesado en contar con nuestros servicios favor llenar el siguiente formulario y lo estaremos contactando
            tan pronto sea posible.
        </h4>
    </div>
    <div class="row mt-3">
        <form>
            <div class="mb-3">
              <label for="nombre" class="form-label">Ingrese su nombre:</label>
              <input type="text" class="form-control" id="nombre" placeholder="Nombre Completo">
            </div>
            <div class="mb-3">
              <label for="correo" class="form-label">Ingrese su correo electronico:</label>
              <input type="email" class="form-control" id="correo" placeholder="Correo Electronico">
            </div>
            <button type="submit" class="btn btn-success">Enviar</button>
          </form>
    </div>
</div>